{% assign reversed = site.data.entries.list | reverse %}
{% for entry in reverse limit:1 %}

<article class="{{ entry.color }}" id="{{ entry.id }}">
<h2>
	<a target="_top" href="{{ site.url }}#{{ entry.id }}">
		{{ entry.date }}
	</a>
</h2>
<p class="time">&#x1F555;{{ entry.time }}</p>
<p class="content">{{ entry.content }}</p>

	{% if entry.image != null %}
	<figure>
		<img loading="lazy" src="./src/img/status/{{ entry.image[1] }}">
		<figcaption>{{ entry.image[0] }}</figcaption></figure>
	</article>
	{% endif %}

{% endfor %}