

<article class="white" id="4">
<h2>2023-11-17</h2>
<p class="time">&#x1F555;21:43</p>
<p class="content">Don't you love it when you forget something at a place you won't be able to go back to for over a week.</p>
</article>


<article class="green-alt" id="3">
<h2>2023-11-16</h2>
<p class="time">&#x1F555;11:57</p>
<p class="content">I've been working on a "ponycycle" model for my animation class, and I'm kinda in love with it. It's really cute. I'm looking forward to texturing it.</p>
<figure><img src="./src/img/status/pony_model.png"><figcaption>A 3D model of a horse shaped motorcycle.</figcaption></figure>
</article>


<article class="pink-alt" id="2">
<h2>2023-11-15</h2>
<p class="time">&#x1F555;23:32</p>
<p class="content">Nothing like staying up late reading angsty fanfiction instead of getting a decent amount of sleep. I wish I didn't have classes tomorrow.</p>
</article>


<article class="white" id="1">
<h2>2023-11-15</h2>
<p class="time">&#x1F555;20:30</p>
<p class="content">Nothing like spending 3 hours on a whim. Now I have this status website. The process of updating it is pretty straightforward. Let's see if I actually use it.</p>
</article>


