

<article class="white" id="14">
<h2>2023-12-24</h2>
<p class="time">&#x1F555;23:14</p>
<p class="content">I wanna be productive but I also don't want to do anything. This is the last break I got before I gotta go back to school and then aftwards find a job.</p>
</article>


<article class="green-alt" id="13">
<h2>2023-12-14</h2>
<p class="time">&#x1F555;00:35</p>
<p class="content">What a woman.</p>
<figure><img src="./src/img/status/huntress_collage.webp"><figcaption>A collage of The Huntress from Dead By Daylight.</figcaption></figure>
</article>


<article class="pink" id="12">
<h2>2023-12-12</h2>
<p class="time">&#x1F555;18:53</p>
<p class="content">One last exam and then I'm done with this school semester 🎉</p>
</article>


<article class="purple" id="11">
<h2>2023-12-06</h2>
<p class="time">&#x1F555;16:18</p>
<p class="content">I'm so close to be being down with this semester. Just a few more things to finish, and I'll be home free. I wanna sleep 💤</p>
</article>


<article class="green-alt" id="10">
<h2>2023-12-04</h2>
<p class="time">&#x1F555;10:26</p>
<p class="content">This is my last week of the semester. I gotta finish quite a few projects. I'm burning out—I wanna rest.</p>
</article>


<article class="blood" id="9">
<h2>2023-11-28</h2>
<p class="time">&#x1F555;21:53</p>
<p class="content">Due to me having a new laptop, I finally stopped using sunsetted Atom and downloaded Pulsar. It's just like Atom and has all the packages and themes so it's like I never switched, but my soul still hurts... Anyways, I now have Astarion as my background image 🖤</p>
<figure><img src="./src/img/status/Pulsar.png"><figcaption>Pulsar screenshot featuring an image of Astarion as the editor background.</figcaption></figure>
</article>


<article class="pink" id="8">
<h2>2023-11-27</h2>
<p class="time">&#x1F555;20:13</p>
<p class="content">There's two weeks left of this college semester. I'm both eager for it and dreading it. I have so much to get done.</p>
</article>


<article class="green" id="7">
<h2>2023-11-20</h2>
<p class="time">&#x1F555;00:01</p>
<p class="content">My body has no right to be this hungry at midnight. Was me feeding it 6 hours ago not enough?? As far as I'm concerned, I shouldn't have to feed it for another week.</p>
</article>


<article class="black" id="6">
<h2>2023-11-19</h2>
<p class="time">&#x1F555;19:18</p>
<p class="content">Is my carpet moldy or is it just weirdly dirty? Who knows? I'm getting rid of it regardless.</p>
</article>


<article class="purple" id="5">
<h2>2023-11-18</h2>
<p class="time">&#x1F555;13:31</p>
<p class="content">It's crazy how certain environments drain your energy even when nothing is the matter. Somehow my bedroom is a safe haven and a parasite at the same time. It drains me more than being in my dorm room.</p>
</article>


<article class="white" id="4">
<h2>2023-11-17</h2>
<p class="time">&#x1F555;21:43</p>
<p class="content">Don't you love it when you forget something at a place you won't be able to go back to for over a week.</p>
</article>


<article class="green-alt" id="3">
<h2>2023-11-16</h2>
<p class="time">&#x1F555;11:57</p>
<p class="content">I've been working on a "ponycycle" model for my animation class, and I'm kinda in love with it. It's really cute. I'm looking forward to texturing it.</p>
<figure><img src="./src/img/status/pony_model.png"><figcaption>A 3D model of a horse shaped motorcycle.</figcaption></figure>
</article>


<article class="pink-alt" id="2">
<h2>2023-11-15</h2>
<p class="time">&#x1F555;23:32</p>
<p class="content">Nothing like staying up late reading angsty fanfiction instead of getting a decent amount of sleep. I wish I didn't have classes tomorrow.</p>
</article>


<article class="white" id="1">
<h2>2023-11-15</h2>
<p class="time">&#x1F555;20:30</p>
<p class="content">Nothing like spending 3 hours on a whim. Now I have this status website. The process of updating it is pretty straightforward. Let's see if I actually use it.</p>
</article>


