

<article class="blood-alt" id="20">
<h2><a href="https://status.shroom.ink/#20">2024-03-02</a></h2>
<p class="time">&#x1F555;16:56</p>
<p class="content">Balancing school, personal projects, and down time is not fun. :(</p>
</article>


<article class="black" id="19">
<h2><a href="https://status.shroom.ink/#19"><a href="https://status.shroom.ink/#">2024-02-21</a></h2>
<p class="time">&#x1F555;12:50</p>
<p class="content">I'm considering diving head first back into RPG Maker MV. I'm currently fleshing out a game concept that involves clowns. 🤡</p>
<figure><img loading="lazy" src="./src/img/status/DevilClown.webp"><figcaption>Headshot of main character concept.</figcaption></figure>
</article>


<article class="pink" id="18">
<h2><a href="https://status.shroom.ink/#18">2024-02-08</a></h2>
<p class="time">&#x1F555;00:29</p>
<p class="content">I am officially no longer a teenager 🎉</p>
</article>


<article class="green" id="17">
<h2><a href="https://status.shroom.ink/#17">2024-01-19</a></h2>
<p class="time">&#x1F555;02:37</p>
<p class="content">New semester has started. So far so good. Hopefully it stays that way.</p>
</article>


<article class="pink-alt" id="16">
<h2><a href="https://status.shroom.ink/#16">2024-01-07</a></h2>
<p class="time">&#x1F555;06:35</p>
<p class="content">I'm a week away from having to move back into my dorm...I ache to scream into the void.</p>
</article>


<article class="blood-alt" id="15">
<h2><a href="https://status.shroom.ink/#15">2024-01-05</a></h2>
<p class="time">&#x1F555;23:42</p>
<p class="content">There's nothing like dressing up a character and taking selfies in a video game. Besides that, I'm hoping to actually update some of my sites soon. </p>
<figure><img loading="lazy" src="./src/img/status/pareidolia.png"><figcaption>A selfie taken in the game Pareidolia In █▄██▄▄.</figcaption></figure>
</article>


<article class="white" id="14">
<h2><a href="https://status.shroom.ink/#14">2023-12-24</a></h2>
<p class="time">&#x1F555;23:14</p>
<p class="content">I wanna be productive but I also don't want to do anything. This is the last break I got before I gotta go back to school and then aftwards find a job.</p>
</article>


<article class="green-alt" id="13">
<h2><a href="https://status.shroom.ink/#13">2023-12-14</a></h2>
<p class="time">&#x1F555;00:35</p>
<p class="content">What a woman.</p>
<figure><img loading="lazy" src="./src/img/status/huntress_collage.webp"><figcaption>A collage of The Huntress from Dead By Daylight.</figcaption></figure>
</article>


<article class="pink" id="12">
<h2><a href="https://status.shroom.ink/#12">2023-12-12</a></h2>
<p class="time">&#x1F555;18:53</p>
<p class="content">One last exam and then I'm done with this school semester 🎉</p>
</article>


<article class="purple" id="11">
<h2><a href="https://status.shroom.ink/#11">2023-12-06</a></h2>
<p class="time">&#x1F555;16:18</p>
<p class="content">I'm so close to be being down with this semester. Just a few more things to finish, and I'll be home free. I wanna sleep 💤</p>
</article>


<article class="green-alt" id="10">
<h2><a href="https://status.shroom.ink/#10">2023-12-04</a></h2>
<p class="time">&#x1F555;10:26</p>
<p class="content">This is my last week of the semester. I gotta finish quite a few projects. I'm burning out—I wanna rest.</p>
</article>


<article class="blood" id="9">
<h2><a href="https://status.shroom.ink/#9">2023-11-28</a></h2>
<p class="time">&#x1F555;21:53</p>
<p class="content">Due to me having a new laptop, I finally stopped using sunsetted Atom and downloaded Pulsar. It's just like Atom and has all the packages and themes so it's like I never switched, but my soul still hurts... Anyways, I now have Astarion as my background image 🖤</p>
<figure><img loading="lazy" src="./src/img/status/Pulsar.png"><figcaption>Pulsar screenshot featuring an image of Astarion as the editor background.</figcaption></figure>
</article>


<article class="pink" id="8">
<h2><a href="https://status.shroom.ink/#8">2023-11-27</a></h2>
<p class="time">&#x1F555;20:13</p>
<p class="content">There's two weeks left of this college semester. I'm both eager for it and dreading it. I have so much to get done.</p>
</article>


<article class="green" id="7">
<h2><a href="https://status.shroom.ink/#7">2023-11-20</a></h2>
<p class="time">&#x1F555;00:01</p>
<p class="content">My body has no right to be this hungry at midnight. Was me feeding it 6 hours ago not enough?? As far as I'm concerned, I shouldn't have to feed it for another week.</p>
</article>


<article class="black" id="6">
<h2><a href="https://status.shroom.ink/#6">2023-11-19</a></h2>
<p class="time">&#x1F555;19:18</p>
<p class="content">Is my carpet moldy or is it just weirdly dirty? Who knows? I'm getting rid of it regardless.</p>
</article>


<article class="purple" id="5">
<h2><a href="https://status.shroom.ink/#5">2023-11-18</a></h2>
<p class="time">&#x1F555;13:31</p>
<p class="content">It's crazy how certain environments drain your energy even when nothing is the matter. Somehow my bedroom is a safe haven and a parasite at the same time. It drains me more than being in my dorm room.</p>
</article>


<article class="white" id="4">
<h2><a href="https://status.shroom.ink/#4">2023-11-17</a></h2>
<p class="time">&#x1F555;21:43</p>
<p class="content">Don't you love it when you forget something at a place you won't be able to go back to for over a week.</p>
</article>


<article class="green-alt" id="3">
<h2><a href="https://status.shroom.ink/#3">2023-11-16</a></h2>
<p class="time">&#x1F555;11:57</p>
<p class="content">I've been working on a "ponycycle" model for my animation class, and I'm kinda in love with it. It's really cute. I'm looking forward to texturing it.</p>
<figure><img loading="lazy" src="./src/img/status/pony_model.png"><figcaption>A 3D model of a horse shaped motorcycle.</figcaption></figure>
</article>


<article class="pink-alt" id="2">
<h2><a href="https://status.shroom.ink/#2">2023-11-15</a></h2>
<p class="time">&#x1F555;23:32</p>
<p class="content">Nothing like staying up late reading angsty fanfiction instead of getting a decent amount of sleep. I wish I didn't have classes tomorrow.</p>
</article>


<article class="white" id="1">
<h2><a href="https://status.shroom.ink/#1">2023-11-15</a></h2>
<p class="time">&#x1F555;20:30</p>
<p class="content">Nothing like spending 3 hours on a whim. Now I have this status website. The process of updating it is pretty straightforward. Let's see if I actually use it.</p>
</article>
