<!doctype html>
<html lang="en">
    <head>
        <title>{{page.title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={{'src/css/main.css'|relative_url}}>
		<style>
			article {
				display: block;
				width: calc(100% - 2em);
				height: calc(100vh - 2em);

				overflow-y: auto;

				text-align: center;

			}
			@media only screen and (max-width: 290px) {
				article {
					grid-template-columns: 1fr;
					grid-template-areas: "title" "time" "content";
					grid-gap: 0px;
				}
			}
		</style>
    </head>
    <body>
		<main>
			{% include latest_status.html %}
		</main>
    </body>

	</script>
</html>
